.element__counter-like {
  font-family: "Inter", "Arial", "Helvetica";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 3px -15px 0 0;
  min-height: 13px;
}
