.popup__error-input {
  font-family: "Inter", "Arial", "Helvetica";
  color: red;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  min-height: 30px;
  margin-left: 26px;
}

@media screen and (min-width: 768px) {
  .popup__error-input {
    margin-left: 36px;
  }
}
