.popup__button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
  height: 50px;
  background-color: #000;
  margin: 0px auto 25px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter";
  font-weight: normal;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .popup__button-save {
    width: 358px;
    font-size: 18px;
    line-height: 22px;
    margin: 30px auto 35px;
  }
}

.popup__button-save:hover {
  opacity: 0.6;
}
