.element__subtitle {
  font-family: "Inter", "Arial", "Helvetica";
  font-style: normal;
  font-weight: 900;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  margin: 20px 0px 26px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
