.popup__button-close {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 4;
  right: 0;
  top: -45px;
  background-image: url(../../../images/320_Close_Popup.png);
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

@media screen and (min-width: 768px) {
  .popup__button-close {
    background-image: url(../../../images/popup_close.png);
    width: 32px;
    height: 32px;
    right: -39px;
  }
}