.profile__title {
  font-family: "Inter", "Arial", "Helvetica";
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  margin: 26px 10px 8px 0;
  width: 189px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__title {
    font-size: 34px;
    line-height: 40px;
    margin: 56px 0 20px 0;
    width: 293px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
    margin: 62px 0 8px 30px;
    padding: 0;
  }
}
