.popup__container {
  position: relative;
  background-color: #fff;
  width: 282px;
  z-index: 4;
  border-radius: 10px;
  top: -16px;
}

@media screen and (min-width: 768px) {
  .popup__container {
    width: 430px;
    top: -4px;
    right: -9px;
  }
}