@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/photo-grig/photo-grid.css);
@import url(./blocks/element/element.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/footer/footer.css);

@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/__list/profile__list.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__change-avatar/profile__change-avatar.css);
@import url(./blocks/profile/__container-avatar/profile__container-avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__subtitle/element__subtitle.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__counter-like/element__counter-like.css);
@import url(./blocks/element/__button-delete/element__button-delete.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/hover/hover.css);

@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/popup/__container-size/popup__container-size.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__photo-name/popup__photo-name.css);

@import url(./blocks/popup/__error-input/popup__error-input.css);
@import url(./blocks/popup/__input/_active/popup__input_active.css);
@import url(./blocks/popup/__error-input/__error-input_type/popup__error-input_type.css);
@import url(./blocks/popup/__button-save/_disabled/popup__button-save_disabled.css);

@import url(./blocks/element/__button-like/_activ/element__button-like_activ.css);
@import url(./blocks/element/__button-delete/_hidden/element__button-delete_hidden.css);
